{% extends "base.html" %}
{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='forms.css') }}">

<span class="form_heading"><h1>Update member:</h1></span>

<form action="/members/{{member.id}}" method="post">
    <div>
        <label for="name">Name:</label>
        <p><input type="text" id="name" value="{{member.name}}" name="name" placeholder="Name" required autofocus></p>

        <label for="age">Age:</label>
        <p><input type="text" id="age" value="{{member.age}}" name="age" placeholder="Age" required></p>

        <label for="active">Active Membership:</label>
        <p><select name="active" id="active">
            <option value=True {% if member.active == member.active %} selected="selected" {% endif %}>True</option>
            <option value=False {% if member.active == member.active %} selected="selected" {% endif %}>False</option>
        </select></p>
        <br>
        <button type="submit">Update Member</button>
    </div>
</form>
<br>

{% endblock %}