{% extends 'base.html' %}

{% block content %}
<h1 class="users_heading">Member List</h1>

{% for member in members %}
{% if member.active %}
<div class="user_container">
<p>Full Name: <a href="/members/{{member.id}}">{{member.name}}</a></p>
<p>Age: {{member.age}}</p>
<p>Active Membership: {{member.active}}</p>
<p><form action="/members/{{member.id}}/edit" method="GET">
    <input class="edit_button" type="submit" value="Edit"/>
    </form></p>
<p><form action="/members/{{member.id}}/delete" method="POST" onSubmit="return confirm('Are you sure you wish to delete?');">
    <input class="btn btn--danger" type="submit" value="Delete"/>
    </form></p>
<hr>
{% endif %}
{% endfor %}
<p><a href="/members/new">Register new member</a></p>
</div>

{% endblock %}