{% extends 'base.html' %}

{% block content %}
<h1>Bookings Diary</h1>
<ul>
  {% for booking in bookings %}
  <li>Member: {{booking.member.name}}</li>
  <li>Class Booked: {{booking.session.name}}</li>
  <li>Date: {{booking.session.date}}</li>
  <li>Time: {{booking.session.time}}</li>
    <p>
      <form action="/bookings/{{booking.id}}/delete" method="POST">
        <input class="btn btn--danger" type="submit" value="delete"/>
      </form>
      <form action="bookings/{{booking.id}}/edit" method="GET">
      <input class="edit_button" type="submit" value="edit"/>
      </form>
    </p>
  <hr>
  {% endfor %}
  </ul>
  <p class="btn--wrapper">
    <a class="btn btn--action" href="/bookings/new">New booking</a>
  </p>
{% endblock %}