{% extends "base.html" %}
{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='forms.css') }}">

<span class="form_heading"><h1>Add new booking:</h1></span>
<br>
<form action="/bookings" method="post">
    <div>
        <label for="member">Member:</label>
        <p><select name="member_id" id="member">
            {% for member in all_members %}
                {% if member.active %}
                <option value="{{member.id}}">{{member.name}}</option></p>
                {% endif %}
            {% endfor %}
        </select>

        <p><label for="session">Class:</label></p>
        <p><select name="session_id" id="session">
            {% for session in all_sessions %}
                {% if session.capacity %}
                <option value="{{session.id}}">{{session.name}} {{session.date}}</option>
                {% endif %}
            {% endfor %}
        </select></p>
    <br>
    <p><button type="submit">Add Booking</button></p>
</form>
</div>
<br>
{% endblock %}