<!DOCTYPE html>
<html>
<head>
  <title>Pure Gym</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='homepage.css') }}">
</head>
<body>
<main>
  <nav class="nav">
    <ul class="nav_menu">
      <li class="logo">
        <a href="/">Gym Manager</a>
      </li>
      <p><li class="classes_button">
        <a href="/sessions">Classes</a>
      </li>
      <li class="members_button">
        <a href="/members">Members</a>
      </li>
      <li class="bookings_button">
        <a href="/bookings">Bookings</a>
      </li></p>
    </ul>
  </nav>
  <section id="content">
      {% block content %}

      {% endblock%}
  </section>
  </main>
  <footer class="footer">
    <nav class="footer_nav">
      <ul>
        <li>
          Call: <a href="tel:+443450133218">+44 3450133218</a></a>
        </li>
        <li>
          Email: <a href="mailto:webmaster@example.com">webmaster@example.com</a>
        </li>
        <li>
          <a href="/sitemap">Sitemap</a>
        </li>
      </ul>
      <div class="address">
        <p>67 Hope Street, Glasgow G2 6AE</p>
      </div>
    </nav>
  </footer>
</body>
</html>