{% extends 'base.html'%}

{% block content %}
<h1>Pure Gym</h1>

<p>Welcome!</p>
<div class="members_area">
    <h4>Manage Members</h4>
    <ul>
        <li>View list of members</li>
        <li>View active/deactivated memberships</li>
        <li>Edit members details</li>
        <li>Add new member</li>
        <li>Delete member</li>
    </ul>
</div>
<hr>
<div class="classes_area">
    <h4>Manage Classes</h4>
    <ul>
        <li>View list of upcoming classes</li>
        <li>View classes which are full</li>
        <li>View classes with spaces</li>
        <li>Edit class</li>
        <li>Add new class</li>
        <li>Delete class</li>
    </ul>
</div>
<hr>
<div class="bookings_area">
    <h4>Manage Bookings</h4>
    <ul>
        <li>View all bookings</li>
        <li>Edit booking</li>
        <li>Add new booking</li>
        <li>Delete booking</li>
    </ul>
</div>
{% endblock %}